In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [2]:
import yfinance as yf

lista=["ggal","AAPL","AAPL.BA"]

data = yf.download(lista,auto_adjust=True)

data

[*********************100%***********************]  3 of 3 completed

                 Close                      High                       Low  \
                  AAPL AAPL.BA  GGAL        AAPL AAPL.BA  GGAL        AAPL
Date
1980-12-12    0.100039     NaN   NaN    0.100474     NaN   NaN    0.100039
1980-12-15    0.094820     NaN   NaN    0.095255     NaN   NaN    0.094820
1980-12-16    0.087861     NaN   NaN    0.088296     NaN   NaN    0.087861
1980-12-17    0.090035     NaN   NaN    0.090470     NaN   NaN    0.090035
1980-12-18    0.092646     NaN   NaN    0.093081     NaN   NaN    0.092646
...                ...     ...   ...         ...     ...   ...         ...
2022-08-08  164.869995  4695.5  8.07  167.809998  4805.0  8.11  164.199997
2022-08-09  164.919998  4756.5  7.79  165.820007  4807.0  8.13  163.250000
2022-08-10  169.240005  4883.0  7.65  169.339996  4900.0  8.00  166.899994
2022-08-11  168.490005  4817.5  7.85  170.990005  4932.5  7.95  168.190002
2022-08-12  172.100006  4924.5  8.07  172.169998  4937.0  8.08  169.399994

                                Open                     Volume           \
           AAPL.BA  GGAL        AAPL AAPL.BA  GGAL         AAPL  AAPL.BA
Date
1980-12-12     NaN   NaN    0.100039     NaN   NaN  469033600.0      NaN
1980-12-15     NaN   NaN    0.095255     NaN   NaN  175884800.0      NaN
1980-12-16     NaN   NaN    0.088296     NaN   NaN  105728000.0      NaN
1980-12-17     NaN   NaN    0.090035     NaN   NaN   86441600.0      NaN
1980-12-18     NaN   NaN    0.092646     NaN   NaN   73449600.0      NaN
...            ...   ...         ...     ...   ...          ...      ...
2022-08-08  4597.0  7.84  166.369995  4765.5  7.94   60276900.0  59466.0
2022-08-09  4648.5  7.71  164.020004  4695.5  8.02   63135500.0  73639.0
2022-08-10  4775.0  7.63  167.679993  4900.0  7.98   70170500.0  77038.0
2022-08-11  4807.0  7.70  170.059998  4900.0  7.72   57149200.0  85542.0
2022-08-12  4828.0  7.81  169.820007  4847.0  7.88   67946400.0  52345.0


                GGAL
Date
1980-12-12       NaN
1980-12-15       NaN
1980-12-16       NaN
1980-12-17       NaN
1980-12-18       NaN
...              ...
2022-08-08  612400.0
2022-08-09  391800.0
2022-08-10  358300.0
2022-08-11  538900.0
2022-08-12  409500.0

[10573 rows x 15 columns]



```
data = yf.download(  tickers list or string as well
tickers = "SPY AAPL MSFT",

                use "period" instead of start/end
                valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
                (optional, default is '1mo')
                period = "ytd",

                fetch data by interval (including intraday if period < 60 days)
                valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
                (optional, default is '1d')
                interval = "1m",

                group by ticker (to access via data['SPY'])
                (optional, default is 'column')
                group_by = 'ticker',

                adjust all OHLC automatically
                (optional, default is False)
                auto_adjust = True,

                download pre/post regular market hours data
                (optional, default is False)
                prepost = True,

                use threads for mass downloading? (True/False/Integer)
                (optional, default is True)
                threads = True,

                proxy URL scheme use use when downloading?
                (optional, default is None)
                proxy = None)
```



auto_adjust




https://github.com/ranaroussi/yfinance

In [ ]:
data = yf.download('GGAL', 
                  start="2022-07-01", 
                  end="2022-07-29",
                  #  period='5d',
                  #  interval='1h',
                  #  groupby='ticker',
                   auto_adjust=True)

data

[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close   Volume
Date
2022-07-01  7.01  7.17  6.77   7.16   371400
2022-07-05  6.69  6.85  6.49   6.84   896700
2022-07-06  6.83  6.90  6.61   6.69   378700
2022-07-07  6.98  6.98  6.64   6.69   720900
2022-07-08  6.64  6.90  6.63   6.68   599000
2022-07-11  6.63  6.70  6.44   6.56   526800
2022-07-12  6.50  6.51  6.15   6.49   874200
2022-07-13  6.41  6.55  6.23   6.32   644000
2022-07-14  6.19  6.30  6.02   6.14  1133300
2022-07-15  6.17  6.31  6.04   6.29   499000
2022-07-18  6.36  6.54  6.30   6.41   616100
2022-07-19  6.48  6.53  6.32   6.33   790400
2022-07-20  6.24  6.34  5.99   5.99   984300
2022-07-21  6.00  6.01  5.75   5.93   750000
2022-07-22  5.99  6.17  5.85   6.16  1206500
2022-07-25  6.20  6.57  6.16   6.46   776200
2022-07-26  6.41  6.62  6.36   6.49   525600
2022-07-27  6.58  6.86  6.26   6.82   862800
2022-07-28  6.89  7.47  6.84   7.39  2090800

In [ ]:
import pandas as pd

data.to_excel("data.xlsx")

In [ ]:
df=pd.read_excel("data.xlsx",header=0,index_col=0)

df

            Open  High   Low  Close   Volume
Date
2022-07-01  7.01  7.17  6.77   7.16   371400
2022-07-05  6.69  6.85  6.49   6.84   896700
2022-07-06  6.83  6.90  6.61   6.69   378700
2022-07-07  6.98  6.98  6.64   6.69   720900
2022-07-08  6.64  6.90  6.63   6.68   599000
2022-07-11  6.63  6.70  6.44   6.56   526800
2022-07-12  6.50  6.51  6.15   6.49   874200
2022-07-13  6.41  6.55  6.23   6.32   644000
2022-07-14  6.19  6.30  6.02   6.14  1133300
2022-07-15  6.17  6.31  6.04   6.29   499000
2022-07-18  6.36  6.54  6.30   6.41   616100
2022-07-19  6.48  6.53  6.32   6.33   790400
2022-07-20  6.24  6.34  5.99   5.99   984300
2022-07-21  6.00  6.01  5.75   5.93   750000
2022-07-22  5.99  6.17  5.85   6.16  1206500
2022-07-25  6.20  6.57  6.16   6.46   776200
2022-07-26  6.41  6.62  6.36   6.49   525600
2022-07-27  6.58  6.86  6.26   6.82   862800
2022-07-28  6.89  7.47  6.84   7.39  2090800