# Guia de ejercicios basicos dataframes
**Profesor**: Ignacio Guardines
<br>
**telegram | twitter** :@nacho_java

# Ejercicio
Configurando el formato del output
- mostrar minimo 10 filas
- maximo 10 filas
- maximo 30 columnas

In [ ]:
import yfinance as yf

data = yf.download("AAPL")

pd.options.display.min_rows = 15
pd.options.display.max_rows = 20
pd.options.display.max_columns = 30
# precisoin pd.options.display.precision = 2

data.round(2).loc["1980-12-12":"1980-12-22"]

[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close  Adj Close     Volume
Date
1980-12-12  0.13  0.13  0.13   0.13       0.10  469033600
1980-12-15  0.12  0.12  0.12   0.12       0.10  175884800
1980-12-16  0.11  0.11  0.11   0.11       0.09  105728000
1980-12-17  0.12  0.12  0.12   0.12       0.09   86441600
1980-12-18  0.12  0.12  0.12   0.12       0.09   73449600
1980-12-19  0.13  0.13  0.13   0.13       0.10   48630400
1980-12-22  0.13  0.13  0.13   0.13       0.10   37363200

# Ejercicio
La agencia de calificación de riesgo estadounidense en servicios financieros Standard & Poor's publica informes sobre calificacion (riesgo) crediticio de emisores de deuda.
 A continuación se presentan los valores de referencia de dichas posibles calificaciones

Modelar la estructura de dato que represente dicha informacion.

Clasificación de la deuda soberana de los distintos países del mundo según Standard & Poor's (Febrero de 2018)
AAA	AA	A	BBB	BB	B	CCC	CC/D
Los estándares utilizados para determinar la solvencia y estabilidad son:

#### Para operaciones a largo plazo
###Inversiones estables
- AAA: La más alta calificación de una compañía, fiable y estable.
- AA: Compañías de gran calidad, muy estables y de bajo riesgo.
- A: Compañías a las que la situación económica puede afectar a la financiación.
- BBB: Adecuada capacidad de pago, pero sujeto a cambios económicos adversos
Inversiones de riesgo o especulativas
- BB: Muy propensas a los cambios económicos.
- B: La situación financiera sufre variaciones notables.
- CCC: Vulnerable en el momento y muy dependiente de la situación económica
- CC: Muy vulnerable, alto nivel especulativo.
- C: extremadamente vulnerable con riesgo económicos.
Para operaciones a corto plazo
- A-1: El obligado tiene plena capacidad para responder del débito.
- A-2: El obligado tiene capacidad para responder del débito aunque el bono es susceptible de variar frente a situaciones económicas adversas.
- A-3: Las situaciones económicas adversas pueden condicionar la capacidad de respuesta del obligado.
- B: Importante nivel especulativo.
- C: Muy especulativo y de dudosa capacidad de respuesta del obligado.
- D: De imposible cobro.

In [ ]:
### posible solucion 
calificaciones = {
    "AAA": "La más alta calificación de una compañía, fiable y estable.",
    "AA": "Compañías de gran calidad, muy estables y de bajo riesgo."

}

# Ejercicio
Obtener marketdata por medio de yfinance:
- Acceder a la primer fila
- Acceder a la ultima fila
- Acceder precio de apertura de la primer fila
- Acceder al precio de cierre de la ultima fila

In [ ]:
# posible solucion
data = yf.download("ggal.ba")

data.loc[::].iloc[0].Open
data.loc[::-1].iloc[0].Close
data.head(1)
data.tail(1)
data.iloc[0]
data.iloc[-1]

#Ejercicio 

Crear una columna nueva denominada promedio donde se calcule y guarde el valor medio entre el Low y el High de cada dia

In [ ]:
# posible solucion

data["promedio"] = (data.Low + data.High) / 2 
data

# Ejercicio 
Crear una columna nueva denominada variacion donde se calcule y guarde el porcentaje de variacion entre el dia actual y el anterior respecto del Adj Close

In [ ]:
#Posible solucion
data["variacion"] = data["Adj Close"].pct_change()
data

                  Open        High  ...  pct_Change  variacion
Date                                ...
2000-07-26    1.730000    1.750000  ...         NaN        NaN
2000-07-27    1.750000    1.760000  ...    0.011561   0.011561
2000-07-28    1.720000    1.740000  ...   -0.017143  -0.017143
2000-07-31    1.750000    1.760000  ...    0.017442   0.017442
2000-08-01    1.760000    1.860000  ...    0.005714   0.005714
...                ...         ...  ...         ...        ...
2021-03-25  112.849998  114.500000  ...   -0.042042  -0.042042
2021-03-26  113.500000  113.599998  ...   -0.013435  -0.013435
2021-03-29  109.849998  110.750000  ...   -0.008625  -0.008625
2021-03-30  109.199997  112.900002  ...    0.032509   0.032509
2021-03-31  112.000000  113.900002  ...   -0.011973  -0.011973

[5165 rows x 9 columns]

# Ejercicio
por medio de yfinance:
- obtener datos historicos de activo GARMIN  diarios del ultimo año YTD 
- Guardar ese dataframe como csv
- Guardar ese dataframe como xls
- Mostrar la fecha con mayor volumen operado, guardar el volumen maximo
- Mostrar la fecha con el menor volumen operado, guardar el volumen minimo 
- Mostrar la fecha con el precio maximo, guardar el precio maximo
- Mostrar la fecha con el precio minimo, guardar el precio minimo

[*********************100%***********************]  1 of 1 completed

In [ ]:
#posible solucion

!pip install yfinance
import yfinance as yf

data = yf.download("GRMN",start="2021-01-01",end="2021-04-02")
data

In [ ]:
# primero necesito saber con que columnas cuento.
data.columns

# dado el requerimiento, puedo ordenar por volumen descendiente entonces
# en la posicion 0 voy a  tener el mayor volumen y como voy a tener la row tambien 
# la fecha, en un caso guardo en una variable y en el otro simplemente muestro por 
# pantalla

max_volumen_row = data.sort_values(by="Volume", ascending=False).iloc[0]
print(f"La fecha con mayor volumen fué, {max_volumen_row.name.date()}")
max_volumen = max_volumen_row.Volume
print(f"el volumen operado fue de {max_volumen}")

La fecha con mayor volumen fué, 2021-02-17
el volumen operado fue de 1583400.0

In [ ]:
max_volumen

Open         1.322000e+02
High         1.329600e+02
Low          1.284700e+02
Close        1.295100e+02
Adj Close    1.288914e+02
Volume       1.583400e+06
Name: 2021-02-17 00:00:00, dtype: float64

# Ejercicio 
Desde colab importar el archivo con AAPL.csv

In [ ]:
from google.colab import files
import pandas as pd
import io


uploaded = files.upload()


df = pd.read_csv(io.StringIO(uploaded['AAPL.csv'].decode('utf-8')))
df

Saving AAPL.csv to AAPL (1).csv

      timestamp    open    high     low   close  adjusted_close    volume
0      6/3/2020  282.00  290.82  281.23  289.03        289.0300  56544246
1      5/3/2020  295.52  299.55  291.41  292.92        292.9200  46893219
2      4/3/2020  296.44  303.40  293.13  302.74        302.7400  54794568
3      3/3/2020  303.67  304.00  285.80  289.32        289.3200  79868852
4      2/3/2020  282.28  301.44  277.72  298.81        298.8100  85349339
...         ...     ...     ...     ...     ...             ...       ...
5028  10/3/2000  121.69  127.94  121.00  125.75          3.8979   2219700
5029   9/3/2000  120.87  125.00  118.25  122.25          3.7894   2470700
5030   8/3/2000  122.87  123.94  118.56  122.00          3.7816   2421700
5031   7/3/2000  126.44  127.44  121.12  122.87          3.8086   2437600
5032   6/3/2000  126.00  129.13  125.00  125.69          3.8960   1880000

[5033 rows x 7 columns]

In [ ]:
data.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'adjusted_close',
       'volume'],
      dtype='object')

In [ ]:
aperturas = data.open 
aperturas

0       282.00
1       295.52
2       296.44
3       303.67
4       282.28
         ...
5028    121.69
5029    120.87
5030    122.87
5031    126.44
5032    126.00
Name: open, Length: 5033, dtype: float64

In [ ]:
data['open']

0       282.00
1       295.52
2       296.44
3       303.67
4       282.28
         ...
5028    121.69
5029    120.87
5030    122.87
5031    126.44
5032    126.00
Name: open, Length: 5033, dtype: float64

# Ejercicio

Obtener datos de algun activo desde yfinance luego obtener una sub matriz con 5 filas y 3 columnas.

[*********************100%***********************]  1 of 1 completed

In [ ]:
aapl

,Open,High,Low,Close,Adj Close,Volume,compra
Date,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100922,469033600,False
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095657,175884800,False
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088636,105728000,False
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090830,86441600,False
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093463,73449600,False
1980-12-19,0.126116,0.126674,0.126116,0.126116,0.099167,48630400,False
1980-12-22,0.132254,0.132813,0.132254,0.132254,0.103993,37363200,False
...,...,...,...,...,...,...,...
2021-03-24,122.820000,122.900002,120.070000,120.089996,120.089996,88530500,False
2021-03-25,119.540001,121.660004,119.000000,120.589996,120.589996,98844700,True
2021-03-26,120.349998,121.480003,118.919998,121.209999,121.209999,93958900,True
2021-03-29,121.650002,122.580002,120.730003,121.389999,121.389999,80819200,False
2021-03-30,120.110001,120.400002,118.860001,119.900002,119.900002,85671900,False
2021-03-31,121.650002,123.519997,121.150002,122.150002,122.150002,118323800,True
2021-04-01,123.660004,124.180000,122.489998,123.000000,123.000000,74957400,False

In [ ]:
data.loc[ 0:5 , ['open','close','volume'] ]

     open   close     volume
0  282.00  289.03   56544246
1  295.52  292.92   46893219
2  296.44  302.74   54794568
3  303.67  289.32   79868852
4  282.28  298.81   85349339
5  257.26  273.36  106721230

# Ejercicio
Obtener de yfinance informacion de apple, crear una columna que determine si se debe comprar o no, para ello evalua
si el precio de apertura es menor que el precio de cierre, de ser asi debe indicar compra

In [ ]:

import numpy as np

aapl = yf.download("AAPL")

aapl["compra"] = np.where( aapl.Open < aapl.Close, True, False)

In [ ]:
data = pd.read_excel('AAPL.xlsx', index_col='high', usecols=[0,2,3])
data

        timestamp     low
high
290.82 2020-03-06  281.23
299.55 2020-03-05  291.41
303.40 2020-03-04  293.13
304.00 2020-03-03  285.80
301.44 2020-03-02  277.72
...           ...     ...
127.94 2000-03-10  121.00
125.00 2000-03-09  118.25
123.94 2000-03-08  118.56
127.44 2000-03-07  121.12
129.13 2000-03-06  125.00

[5033 rows x 2 columns]

# Ejercicio:

Leer el archivo de precios de AAPL y devolver el dataFrame que tenga:

    - Solo las columnas Open y Close 
    - Que tenga como indice el timestamp
    - Que este ordenado por fechas
    - que devuelva solo los ultimos 10 valores

Si queremos que el número de filas o columnas a mostrar sea ilimitado, es decir que muestre siempre todo, lo configuramos como <b>None</b>

In [ ]:
pd.options.display.max_columns= None
pd.options.display.max_rows= 8
data

      timestamp    open    high     low   close  adjusted_close    volume
0    2020-03-06  282.00  290.82  281.23  289.03        289.0300  56544246
1    2020-03-05  295.52  299.55  291.41  292.92        292.9200  46893219
2    2020-03-04  296.44  303.40  293.13  302.74        302.7400  54794568
3    2020-03-03  303.67  304.00  285.80  289.32        289.3200  79868852
...         ...     ...     ...     ...     ...             ...       ...
5029 2000-03-09  120.87  125.00  118.25  122.25          3.7894   2470700
5030 2000-03-08  122.87  123.94  118.56  122.00          3.7816   2421700
5031 2000-03-07  126.44  127.44  121.12  122.87          3.8086   2437600
5032 2000-03-06  126.00  129.13  125.00  125.69          3.8960   1880000

[5033 rows x 7 columns]

#Ejercicio
con el metodo round() cambiar en varias celdas diferente la precision de los decimales

      timestamp    open    high     low   close  adjusted_close    volume
0    2020-03-06  282.00  290.82  281.23  289.03        289.0300  56544246
1    2020-03-05  295.52  299.55  291.41  292.92        292.9200  46893219
2    2020-03-04  296.44  303.40  293.13  302.74        302.7400  54794568
3    2020-03-03  303.67  304.00  285.80  289.32        289.3200  79868852
...         ...     ...     ...     ...     ...             ...       ...
5029 2000-03-09  120.87  125.00  118.25  122.25          3.7894   2470700
5030 2000-03-08  122.87  123.94  118.56  122.00          3.7816   2421700
5031 2000-03-07  126.44  127.44  121.12  122.87          3.8086   2437600
5032 2000-03-06  126.00  129.13  125.00  125.69          3.8960   1880000

[5033 rows x 7 columns]

In [ ]:
data = data.round(1)
data

      timestamp   open   high    low  close  adjusted_close    volume
0    2020-03-06  282.0  290.8  281.2  289.0           289.0  56544246
1    2020-03-05  295.5  299.6  291.4  292.9           292.9  46893219
2    2020-03-04  296.4  303.4  293.1  302.7           302.7  54794568
3    2020-03-03  303.7  304.0  285.8  289.3           289.3  79868852
...         ...    ...    ...    ...    ...             ...       ...
5029 2000-03-09  120.9  125.0  118.2  122.2             3.8   2470700
5030 2000-03-08  122.9  123.9  118.6  122.0             3.8   2421700
5031 2000-03-07  126.4  127.4  121.1  122.9             3.8   2437600
5032 2000-03-06  126.0  129.1  125.0  125.7             3.9   1880000

[5033 rows x 7 columns]

# Ejercicio

Obtener informacion del dataframe por medio de 
- info() 
- shape()
- columns
- index
- dtypes

In [ ]:
#Ej
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

Si simplemente queremos obtener la cantidad de filas y columnas de la tabla podemos usar el atributo shape

# Ejercicio
Dado un dataframe con un indice no numerico se pide utilizar y probar la funcion reset_index, 
 Reseteo de indice

In [ ]:
data = yf.download("aapl")

data.reset_index()

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100922,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095657,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088636,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090830,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093463,73449600
1980-12-19,0.126116,0.126674,0.126116,0.126116,0.099167,48630400
1980-12-22,0.132254,0.132813,0.132254,0.132254,0.103993,37363200
...,...,...,...,...,...,...
2021-03-24,122.820000,122.900002,120.070000,120.089996,120.089996,88530500
2021-03-25,119.540001,121.660004,119.000000,120.589996,120.589996,98844700
2021-03-26,120.349998,121.480003,118.919998,121.209999,121.209999,93958900
2021-03-29,121.650002,122.580002,120.730003,121.389999,121.389999,80819200
2021-03-30,120.110001,120.400002,118.860001,119.900002,119.900002,85671900
2021-03-31,121.650002,123.519997,121.150002,122.150002,122.150002,118323800
2021-04-01,123.660004,124.180000,122.489998,123.000000,123.000000,74957400

# Ejercicio
Leer un archivo excel (puede ser de datos descargado de yfinance y exportado a excel)
- settear el indice en timestamp
- calcular el precio medio de la vela, como el promedio del open, close, low y high

In [ ]:
data = pd.read_excel('AAPL.xlsx', sheet_name='Hoja1')
data.set_index('timestamp', inplace=True)

data['precio_medio_vela'] = (data.open + data.close + data.low + data.high) / 4
data.tail(10)

,open,high,low,close,adjusted_close,volume,precio_medio_vela
timestamp,,,,,,,
2000-03-17,120.12,125.00,119.62,125.00,3.8746,2723600,122.4350
2000-03-16,117.31,122.00,114.50,121.56,3.7680,3375900,118.8425
2000-03-15,115.62,120.25,114.12,116.25,3.6034,3960800,116.5600
2000-03-14,121.22,124.25,114.00,114.25,3.5414,3826600,118.4300
...,...,...,...,...,...,...,...
2000-03-09,120.87,125.00,118.25,122.25,3.7894,2470700,121.5925
2000-03-08,122.87,123.94,118.56,122.00,3.7816,2421700,121.8425
2000-03-07,126.44,127.44,121.12,122.87,3.8086,2437600,124.4675
2000-03-06,126.00,129.13,125.00,125.69,3.8960,1880000,126.4550

# Ejercicio

 leer el archivo de precios de AAPL.xlsx (obtenido de yfinance y exportado con to_excel():

- crearle una columna 'px' que muestre el volumen diario en millones de usd
- en lugar de nominales, usando el precio medio de cada rueda
- calcular el precio medio de la rueda como el promedio OHLC
- al final guardar el excel como AAPL_2.xlsx con la columna agregada
- reiniciar el kernel y volver a levantar el df abriendo el archivo AAPL_2.xlsx

In [ ]:
data = pd.read_excel('AAPL.xlsx', sheet_name='Hoja1', index_col='timestamp')
data.sort_index(inplace=True)
data

              open    high     low   close  adjusted_close    volume
timestamp
2000-03-06  126.00  129.13  125.00  125.69          3.8960   1880000
2000-03-07  126.44  127.44  121.12  122.87          3.8086   2437600
2000-03-08  122.87  123.94  118.56  122.00          3.7816   2421700
2000-03-09  120.87  125.00  118.25  122.25          3.7894   2470700
...            ...     ...     ...     ...             ...       ...
2020-03-03  303.67  304.00  285.80  289.32        289.3200  79868852
2020-03-04  296.44  303.40  293.13  302.74        302.7400  54794568
2020-03-05  295.52  299.55  291.41  292.92        292.9200  46893219
2020-03-06  282.00  290.82  281.23  289.03        289.0300  56544246

[5033 rows x 6 columns]

Esto se los dejo para los que quieran investigar y jugar un poco, obviamente nadie en su sano juicio obtendría precios de esta forma, ya vamos a ver APIs y esas cosas, peeeero, esta bueno para practicar

#Ejercicio
Analizar que es lo que hace el parametro thousands en la funcion read_html
por otro lado acceder a la url desde un navegador web y comparar lo que devuelve python de lo que se ve en el navegador.

In [ ]:
url = 'https://www.invertironline.com/mercado/cotizaciones/argentina/acciones/panel-general'
df = pd.read_html(url, thousands='.')
df[0]

,Símbolo,ÚltimoOperado,VariaciónDiaria,CantidadCompra,...,ÚltimoCierre,MontoOperado,Fecha/Hora,Unnamed: 13
0,AGRO Agrometal,"18,90","0,00%",-,...,"18,90",1665834,17:00:07,NaN
1,AUSO Autopistas del Sol,"52,50","0,19%",-,...,"52,40",33820,17:00:10,NaN
2,BHIP Banco Hipotecario,"7,96","-0,74%",-,...,"8,02",199977,17:00:11,NaN
3,BOLT Boldt,"3,25","1,56%",-,...,"3,20",1526377,17:00:20,NaN
...,...,...,...,...,...,...,...,...,...
47,ROSE Instituto Rosen...,"9,90","-5,71%",-,...,"10,50",43957,17:00:25,NaN
48,SAMI San Miguel,"104,00","1,46%",-,...,"102,50",669181,17:00:10,NaN
49,SEMI Molinos Juan Se...,"5,25","2,14%",-,...,"5,13",274838,17:00:10,NaN
50,TGLT TGLT S.A. Accio...,"3,50","0,57%",-,...,"3,48",275402,17:00:27,NaN

#Ejercicio

De la tabla obtenida del ejercicio anterior obtener solo el valor del ticker quitando la descripcion.
Esto es quedarse unicamente con los 3 o 4 caracteres correspondiente al ticker, crear una columna con el mismo nombre

In [ ]:
iol = df[0]
iol['ticker'] = iol['Símbolo'].str.split(' ').str[0]

iol

,Símbolo,ÚltimoOperado,VariaciónDiaria,CantidadCompra,...,MontoOperado,Fecha/Hora,Unnamed: 13,ticker
0,AGRO Agrometal,"18,90","0,00%",-,...,1665834,17:00:07,NaN,AGRO
1,AUSO Autopistas del Sol,"52,50","0,19%",-,...,33820,17:00:10,NaN,AUSO
2,BHIP Banco Hipotecario,"7,96","-0,74%",-,...,199977,17:00:11,NaN,BHIP
3,BOLT Boldt,"3,25","1,56%",-,...,1526377,17:00:20,NaN,BOLT
...,...,...,...,...,...,...,...,...,...
47,ROSE Instituto Rosen...,"9,90","-5,71%",-,...,43957,17:00:25,NaN,ROSE
48,SAMI San Miguel,"104,00","1,46%",-,...,669181,17:00:10,NaN,SAMI
49,SEMI Molinos Juan Se...,"5,25","2,14%",-,...,274838,17:00:10,NaN,SEMI
50,TGLT TGLT S.A. Accio...,"3,50","0,57%",-,...,275402,17:00:27,NaN,TGLT

In [ ]:
tablas = pd.read_html("https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview")

In [ ]:
tabla = tablas[0]
tabla.set_index("Ticker", inplace = True)

In [ ]:
tabla

                                   Product Name Product Type        Country
Ticker
ETF500                 1nvest S&P500 Feeder ETF          ETF   South Africa
AZAA    AllianzIM US Large Cap Buffer10 Apr ETF          ETF  United States
AZAJ    AllianzIM US Large Cap Buffer10 Jan ETF          ETF  United States
AZAL    AllianzIM US Large Cap Buffer10 Jul ETF          ETF  United States
AZAO    AllianzIM US Large Cap Buffer10 Oct ETF          ETF  United States

Algunos cuesta un poco mas trabajarlos.. ponele

In [ ]:
url = 'http://www.rava.com/precios/panel.php?m=LID'
df = pd.read_html(url, thousands='.')[9]
df.columns = list(df.loc[0,:])
df.drop(0,axis=0)

,Especie,Último,% Día,Anterior,...,Máximo,Hora,Vol. Nominal,Vol. Efectivo
1,MERVAL,47879,"-0,44",-,...,-,17:12,-,-
2,ALUA,"47,000","-0,84","47,400",...,"47,750",16:59,909534,42247255
3,BBAR,"131,000","-1,36","132,800",...,"133,500",16:59,202822,26568631
4,BMA,"198,250","-0,40","199,050",...,"199,250",16:59,394760,77886947
...,...,...,...,...,...,...,...,...,...
19,TRAN,"22,600","-0,22","22,650",...,"23,300",16:59,144881,3258414
20,TXAR,"50,100","-1,18","50,700",...,"51,000",16:59,995277,49921064
21,VALO,"24,350","1,88","23,900",...,"24,800",16:55,690195,16783133
22,YPFD,"598,000","0,10","597,400",...,"608,950",16:59,181185,108177082

Aca va para las opciones y los cedears con el agregado del atributo "header" y pasando a datos numericos los campos

In [ ]:
import pandas as pd
url = 'http://www.rava.com/precios/panel.php?m=OPC'
df = pd.read_html(url, thousands='.',header=0)[8]
df = df.replace(',','.',regex=True)
df[df.columns[1:7]] = df[df.columns[1:7]].apply(pd. to_numeric, errors='coerce').round(2)
df[df.columns[8:10]] = df[df.columns[8:10]].apply(pd. to_numeric, errors='coerce')
df

,Especie,Último,% Día,Anterior,...,Máximo,Hora,Vol. Nominal,Vol. Efectivo
0,AGRC12.0AB,7.10,4.41,6.80,...,7.10,17:05,1.0,710.0
1,AGRC17.0JU,3.20,11.15,2.88,...,3.20,16:37,25.0,7980.0
2,AGRV12.0AB,NaN,NaN,NaN,...,NaN,17:05,NaN,NaN
3,ALUC31.0AB,16.24,-0.98,16.40,...,16.39,13:48,26.0,42019.0
...,...,...,...,...,...,...,...,...,...
212,YPFV640.AB,NaN,NaN,22.10,...,22.10,17:05,NaN,NaN
213,YPFV640.JU,NaN,NaN,32.00,...,NaN,17:05,NaN,NaN
214,YPFV680.AB,NaN,NaN,85.00,...,85.00,17:05,NaN,NaN
215,YPFV680.JU,NaN,NaN,50.00,...,50.00,17:05,NaN,NaN

In [ ]:
import pandas as pd
url = 'http://www.rava.com/precios/panel.php?m=CED'
df = pd.read_html(url, thousands='.',header=0)[8]
df = df.replace(',','.',regex=True)
df[df.columns[1:7]] = df[df.columns[1:7]].apply(pd. to_numeric, errors='coerce').round(2)
df[df.columns[8:10]] = df[df.columns[8:10]].apply(pd. to_numeric, errors='coerce')
df

,Especie,Último,% Día,Anterior,...,Máximo,Hora,Vol. Nominal,Vol. Efectivo
0,CEDEABA.CD,21.95,9.20,20.1,...,22.0,16:46,80.0,1.7390e+03
1,CEDEAGOOGL,5304.00,2.15,5193.0,...,5370.0,16:59,2117.0,1.1212e+07
2,CEDEARAAPL,1818.00,3.15,1763.0,...,1838.0,16:59,18405.0,3.3369e+07
3,CEDEARABEV,1233.00,3.48,1192.0,...,1235.0,16:58,650.0,7.9476e+05
...,...,...,...,...,...,...,...,...,...
120,CEDEARX,1275.00,2.37,1246.0,...,1320.0,16:59,30432.0,3.9359e+07
121,CEDEARXOM,1656.00,-0.75,1669.0,...,1670.0,16:55,3765.0,6.2308e+06
122,CEDEARXROX,3553.00,-1.76,3616.0,...,3553.0,17:05,1.0,3.5530e+03
123,CEDEARYELP,NaN,NaN,3240.0,...,3266.0,17:05,NaN,NaN

In [ ]:
df['Especie'] = df.Especie.str.replace('CEDEA','')

In [ ]:
df

,Especie,Último,% Día,Anterior,...,Máximo,Hora,Vol. Nominal,Vol. Efectivo
0,BA.CD,21.95,9.20,20.1,...,22.0,16:46,80.0,1.7390e+03
1,GOOGL,5304.00,2.15,5193.0,...,5370.0,16:59,2117.0,1.1212e+07
2,RAAPL,1818.00,3.15,1763.0,...,1838.0,16:59,18405.0,3.3369e+07
3,RABEV,1233.00,3.48,1192.0,...,1235.0,16:58,650.0,7.9476e+05
...,...,...,...,...,...,...,...,...,...
120,RX,1275.00,2.37,1246.0,...,1320.0,16:59,30432.0,3.9359e+07
121,RXOM,1656.00,-0.75,1669.0,...,1670.0,16:55,3765.0,6.2308e+06
122,RXROX,3553.00,-1.76,3616.0,...,3553.0,17:05,1.0,3.5530e+03
123,RYELP,NaN,NaN,3240.0,...,3266.0,17:05,NaN,NaN

# Ejercicio
Obtener informacion de algun activo, crear una columna nueva que calcule la SMA ( standar Moving Average) de 3 ruedas.

Utilizar el metodo rolling de pandas

In [ ]:
import yfinance as yf
data = yf.download("AUSO.BA")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data["SMA3"] = data["Adj Close"].rolling(3).mean().dropna()

In [ ]:
fast = 3
slow = 9

data["sma3"] = data.Close.rolling(fast).mean()
data["sma9"] = data.Close.rolling(slow).mean()

data['Cruce'] = np.where( data["sma3"]>
                     data["sma9"], True, False)

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume,SMA3,Cruce,sma3,sma9
Date,,,,,,,,,,
2005-09-06,0.450000,0.450000,0.450000,0.450000,0.244629,0,NaN,False,NaN,NaN
2005-09-07,0.450000,0.450000,0.450000,0.450000,0.244629,0,NaN,False,NaN,NaN
2005-09-08,0.600000,0.600000,0.600000,0.600000,0.326172,0,0.271810,False,0.500000,NaN
2005-09-09,0.600000,0.600000,0.600000,0.600000,0.326172,0,0.298991,False,0.550000,NaN
2005-09-12,0.600000,0.600000,0.600000,0.600000,0.326172,0,0.326172,False,0.600000,NaN
2005-09-13,0.600000,0.600000,0.600000,0.600000,0.326172,0,0.326172,False,0.600000,NaN
2005-09-14,0.600000,0.600000,0.600000,0.600000,0.326172,0,0.326172,False,0.600000,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-03-22,54.000000,54.000000,51.200001,52.500000,52.500000,6302,52.699999,True,52.699999,52.400000
2021-03-23,52.500000,53.500000,52.000000,53.099998,53.099998,3882,52.866666,True,52.866666,52.477777
2021-03-25,52.599998,52.700001,52.000000,52.500000,52.500000,8134,52.699999,True,52.699999,52.533333
2021-03-26,52.700001,52.700001,51.200001,51.900002,51.900002,4076,52.500000,True,52.500000,52.466666
2021-03-29,51.200001,52.200001,51.200001,51.799999,51.799999,12354,52.066667,False,52.066667,52.333333
2021-03-30,51.799999,52.799999,51.400002,52.400002,52.400002,2451,52.033334,False,52.033334,52.455555
2021-03-31,53.000000,53.000000,52.400002,52.500000,52.500000,645,52.233334,False,52.233334,52.477778

#Ejercicio
- Traer por medio de read_html de pandas los 500 activos listados en el S&P500
- obtener solo los tickers
- llamar a yfinance con la lista intervalo 1 dia, comenzando el 2019-01-01

In [ ]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500_tickers  = list(sp500.Symbol)
sp500_tickers.remove('BRK.B')
sp500_tickers.remove('BF.B')

In [ ]:
 data = yf.download(sp500_tickers, start='2019-01-01', interval='1d', end=None, auto_adjust=True)

[*********************100%***********************]  503 of 503 completed